@import "tailwindcss";
@tailwind base;

@layer base {
  .btn{
    @apply py-2 px-8 text-white uppercase font-bold;
     background-color: #cfb02c;
  }
  .lire{
     @apply rounded-tr-3xl rounded-bl-3xl;
  }
  .footer-contact{
    .mail{
      @apply bg-white rounded-3xl px-3;
      height: 40px;
      display: block;
      width: 100%;
    }
  }
  .btn-rounded{
    @apply rounded-3xl;
  }
  .page-card{/*Chaque carte sur la pages Pages*/
    @appy flex px-14 flex-col flex-wrap justify-center inner-center;
    max-width: 495px;
    >*{
      margin: 20px 0px;
    }
    img{
      margin-left: auto;
      margin-right: auto;
    }
  }
}

[class*=animate-]{
  animation-iteration-count: 3;
}

.nav-cart{
  margin-top: 15px;
}

.btn:hover{
  background-color: #758d87;
}

.lert img{
  height: 400px;  
}
.section-btn{
  background-color: yellow;
  color: white;
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 5px 20px;
}
.lert > *> *{
  width: 45%;
  margin: 10px auto;
}


.lert > *> * >*{
  margin: 20px 0px;
}

.haut{
  background-image: url(/src/assets/4-min.jpg);
  height: 280px;
  background-position: center;
  position: relative;
}

.haut-body{
  color: white;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 45%;
}
.blog{
  font-size: 4em;
  font-weight: bold;
  will-change: transform,opacity;
  animation: 1500ms;
}
.blo{
  font-size: 4em;
  font-weight: bold;
  will-change: transform,opacity;
  padding-left: 20px;  
}

.freepik a{
  border-bottom: 2px solid white;
}

.footer-contact .btn{
  display: block;
  width: 100%;
  margin-top: 10px;
}
.logo-img {
  height:20px;
}

.u-svg-content{
  height: 40px;
}
 .logo-koi {
  height:20px;
  
} 
.ko{
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  margin-top: 10px;
  height: 615px;
  width: 470px;
  

  
}
.koo{
  border-top-right-radius: 150px;
  border-bottom-left-radius: 150px;
  width: 400px;
  text-align: center;
}
.ka{
  display: inline-block;
  height: 1em;
  width: auto;
  line-height: 1;
  vertical-align: -0.15em;
}
.fleche{
  height: 100px;
  width: 75px;
  white-space: nowrap;
}
.deux{
  font-size: 2em;
  padding-left: 400px;
  padding-right: 400px;
  text-wrap: wrap;
}
.lo{
  text-align: left;
  margin-left: 0px;
}
.prix{
  font-size: 3em;
  font-weight: 800;
}
.fri{
  font-size: 3em;
}
.cart{
  object-fit: contain;
  display: block;
  width: 100%;
  height: 100%;
}
.enum{
  font-size: 2em;
  display: inline;
}
.livre{
  height: 440Px;
  width: 350px;
  
}
.cotelivre{
  font-size:45px;
  font-weight: bolder;
}
.ail{
  background-image: url(/src/assets/4-min.jpg);
  height: 400px;
}
.cardreimg{
  height: 20px;
  width: 20px;
  background-color: white;
}
.sante{
  font-size: 2em;
  font-weight: bolder;
  padding: 25px 25px 25px 25px;
  padding-top: 50px;
}
.natu{
  box-sizing: border-box;
}
.helpp{
  font-size: 2em;
  font-weight:bolder;
  padding-top: 100px;
}